ACCESS_KEY_ID=CLOUDFLARE_R2_ACCESS_KEY
SECRET_ACCESS_KEY=CLOUDFLARE_R2_SECRET_ACCESS_KEY
S3_ENDPOINT=CLOUDFLARE_R2_S3_ENDPOINT
CLAIM_BUCKET_NAME=YOUR_AWESOME_R2_BUCKET_NAME_FOR_CLAIMS
STATE_BUCKET_NAME=YOUR_AWESOME_R2_BUCKET_NAME_FOR_STATE
POLL_INTERVAL=15
DUCKDB_DB_PATH=/db/mapcast.duckdb